<div class="wrapper fadeInDown">
  <div id="formContent">
<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3 style="margin-top: 0.8em;">Thank You for Registering</h3>
        <div class="fadeIn first">
          <img src="./../../../assets/images/logo.png" id="icon" alt="User Icon" />
        </div>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <input type="submit" class="fadeIn fourth" value="Resend Verification Email"  (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
        </div>
  
      </div>
      <div id="formFooter" class="redirectToLogin">
        <span class="underlineHover" href="#">
          <span class="redirect" routerLink="/sign-in">Go back to? Sign in</span></span>
      </div>
  
    </div>
  </div>
  </div>
  </div>